@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.text-family {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* centeredCarousel.css */

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.swiper-pagination-bullet {
    background: #4F46E5;
}

.swiper-pagination-bullet-active {
    background: #4F46E5 !important;
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
  font-size: 0.9rem;
  margin: 1rem 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 0.75em;
}
.divider::after {
  margin-left: 0.75em;
}


@media (max-width: 840px) {
.company{
  display: none;
}
}

@media (max-width: 768px) {
  .overflow-x-auto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  }

  table {
    width: 100%; /* Ensure the table takes full width */
    display: block; /* Make the table block to allow scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text wrapping */
  }

  th, td {
    min-width: 120px; /* Set a minimum width for table cells */
  }
}